.companies {
    padding: 0 0 4rem 0;

    &__logo_box {
        max-width: 100%;
        height: 8rem;
        padding: 0.4rem ;
        text-align:center;
        position: relative;

        img {
            height: 100%;
            
            &:hover {
                filter: grayscale(120);
            }

        }
    }
}